body {
    background-image:url('../Pictures/deco1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
    
    
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3); /* reduce from 0.5 or 0.7 */
}
nav {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.event-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: 'Times New Roman', Times, serif;
    }
    .content-wrap {
        flex: 1;
        display: flex;
        justify-content: center;
        padding: 40px 20px;
    }
    .card{
         padding: 25px;
         box-shadow: 0 4px 12px rgba(0,0,0,0.1);
          border-radius: 12px;
          align-items: center;
          
    }
    .event-image {
        height: 100%;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        border-radius: 15px  15px;
    }
    .event-container h2{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
       
    }
    .event-container p{
        font-size: 20px;
        text-align: center;
    }
    
    .event-container ul {
       
        padding-left: 20px;
        font-size: 20px;
        margin-bottom: 10px;
        text-align: left;
        
    }
    .heart-list {
    list-style: none;
    padding-left: 0;

}

.heart-list li::before {
    content: "❤️ "; 
   
    
}  
.foot{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
   padding: 50px 0; 
   flex-shrink: 0;
   margin-top: 50px;
}