nav {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.package{  
    padding:20px;
    min-height: 100vh;
}
.Direct{
  position: absolute;
    right: 0;
    top: 80px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
}
h3{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
  
  .pack{
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: black;
 }
 .card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    align-items: center;
  }
  .card img {
    height: 200px;
    object-fit: cover;
  }
  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: 150%;
    flex-grow: 1;
    align-items: center;
    
  }
  .badge-custom {
    background-color: rgb(247, 28, 229);
    color: purple;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 20px;
  }
  .discount-text {
    font-size: 30px;
    font-weight: bold;
  }
  .booking-text {
    color: purple;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
  }
  .get-now-btn {
    background-color: #fe5dc0;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    
  }
.foot{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}